a:link, a:visited {
color: BLACK ;
text-decoration:none;
font-size:1em;
font-family:arial, verdana, sans-serif;
font-weight:bold;
}

h1 {
color: BLACK ;
text-decoration:none;
font-family:arial, verdana, sans-serif;
font-weight:bold;
}


nav {
    padding: 1em;
    color: white;
    background-color: F1F180;
    clear: left;
    text-align: center;
}